* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  width: 100vw;
}

ul {
  list-style-type: none;
}

.mainMenu {
  text-align: center;
  padding: 20px 0px;
  font-size: 1.2rem;
}

.link {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 5px 10px;
  border: 2.5px solid black;
}

.link:hover {
  background-color: rgb(149, 205, 241);
}

#welcome {
  display: grid;
  grid-template-rows: 3fr 1fr;
}

#welcomeImage {
  background-image: url("../images/welcome.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 70vh;
}

#startBtn {
  text-decoration: none;
  text-align: center;
  align-content: center;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 5px 5px rgb(152, 167, 167);
  cursor: pointer;
  color: black;
}

#startBtn:hover {
  text-shadow: 5px 5px teal;
}

#loading {
  background-image: url("../images/sky.jpg");
  height: 100vh;
}

.topDiv {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.timerHeader {
  font-size: 1.8rem;
}

.gameDiv {
  position: relative;
}

.charKeyDiv {
  background-color: white;
  margin: 10px;
  margin-top: 0;
  padding: 5px;
  display: flex;
  border: 1px solid black;
}

.charKeyHeading {
  font-size: 1.2rem;
  text-wrap: nowrap;
}

.charKey {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 10px
}

.charKeyImg {
  height: 80px;
}

.charKeyName {
  font-size: 0.8rem;
}

.gameImg {
  width: 100vw;
  overflow: none;
}

.marker {
  width: 50px;
  height: 50px;
}

.characterOption {
  background-color: white;
  padding: 3px;
  border: 1px solid black;
}

.charImg {
  height: 70px;
}

.charName {
  font-size: 0.7rem;
  text-align: center;
}

.characterMenu {
  display: flex;
}

.winForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.winFormHeading {
  text-align: center;
  margin: 20px 0px;
}

.nameInput {
  width: 300px;
  height: 50px;
  font-size: 1.2rem;
  margin: 20px 0px;
  padding: 10px;
}

.winFormBtn {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
  border-radius: 10px;
}

.winFormBtn:hover {
  background-color: rgb(172, 170, 170);
}

.scoreboard {
  height: 100vh;
}

.scoreboardHeading {
  text-align: center;
  margin-top: 25px;
  font-size: 2.5rem;
  text-shadow: 3px 3px rgb(104, 103, 103);
}

.scoreboardTitleRow, .scoreboardEntry {
  display: grid;
  grid-template-columns: 1fr 6fr 6fr;
  text-align: center;
  padding: 10px;
}

.scoreboardTitleRow {
  text-decoration: underline;
  margin-top: 25px;
}

